.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img.logo(src='/doku logo2-on-dark small.png' style='max-width:115px; margin-top: 2px;')        
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'My Shopping') ? 'active' : undefined)
          a(href='/transactions')
            span.headertab MY SHOPPING
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact')
            span.headertab CONTACT US
        li(class=(title == 'API Examples') ? 'active' : undefined, style='visibility:hidden')
          a(href='/api') API Examples
        li(style='visibility:hidden')
          a(href='/status') Status
        li(style='visibility:hidden',class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
		  
      ul.nav.navbar-nav.navbar-right
        li
          a.btn.btn-primary#sellbutton(href='/marketplace/sell', role='button') 
            span.headertab SELL
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login')
              span.headertab LOGIN
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') 
              span.headertab CREATE ACCOUNT
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
