extends layout

block content
  
  h2.title#searchbar(style="margin-top:-20px;margin-left:40px") Step by step process
  <br>
  .row
    .col-md-3.col-md-offset-2
      img(src='/Step1.png', style='margin-top:57px')
    .col-md-3
      img(src='/Step2.png', style='margin-top:15px')
    .col-md-3
      img(src='/Step3.png', style='margin-top:5px;')
  .row
    .col-md-3.col-md-offset-2
      h5
        | <b>Seller lists an item</b>
    .col-md-3
      h5
        | <b>Buyer purchases item</b>
    .col-md-3
      h5
        | <b>We handle the rest!</b>