extends layout

block content
  
  .contact
    h2.title Admin Panel

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='venmo') Venmo
      .col-sm-8
        input.form-control(type='text', name='venmo', id='venmo', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='deposit') Deposit
      .col-sm-8
        input.form-control(type='text', name='deposit', id='deposit')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          | Insert Deposit
