extends layout

block content
  h1 Doku
  p.lead Cornell's fastest peer to peer marketplace.
  hr
  .row
    .col-sm-6
      h2 One Click System
      p With a single click a photo of your item is already in the store ready to be sold! You don't have to talk to buyers, set up meetings, etc.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Communication free
      p PickUp! takes care of the selling of your item. You will not have to communicate with any buyers throughout the process.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Free Delivery
      p PickUp! will deliver the item from the seller to the buyer with no hastle.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Anonymity
      p Since buyers and sellers do not have to communicate, your privacy is secured. 
      p
        a.btn.btn-default(href='#', role='button') View details »