doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - DokuMarket
    link(rel='shortcut icon', href='/doku favicon 50x50.png', type="image/gif" sizes="32x32")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/newmain.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='/css/lib/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/css/lib/jasny-bootstrap.min.css')
    link(rel='stylesheet', href='/css/lib/daterangepicker.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    script(src='../../js/lib/moment.min.js')
    script(src='../../js/lib/jquery-2.2.4.min.js')
    script(src='../../js/lib/bootstrap.min.js')
    script(src='../../js/lib/jasny-bootstrap.min.js')
    script(src='../../js/lib/bootstrap-tagsinput.min.js')
    script(src='../../js/lib/daterangepicker.js')
    script(src='../../js/lib/jquery.cropit.js')
    script(src='../../js/main.js')

    
  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-86399805-1', 'auto');
      ga('send', 'pageview');