extends ..\layout

block content
  .page-header
    h2 Latest Classifieds

    ul.nav.nav-pills.nav-justified
      nav.navbar.navbar-default
       .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Search via Tags
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
               form.navbar-form.navbar-left
                .form-group
                  input(type='text', value='Textbooks', data-role='tagsinput')
               button.btn.btn-default(href='#',style='margin-top:7px') Search
            ul.nav.navbar-nav.navbar-right
              li(style='visibility:hidden')
                a(href='#') Link
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Categories
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#') Books
                  li
                    a(href='#') Furniture
                  li
                    a(href='#') Men's Apparel
                  li
                    a(href='#') Women's Apparel
    p
    hr

    .row
        each item in items
            .col-sm-4
               - var itemColor = item.isMyItem ? 'wheat' : 'lightblue'
               a(href='/marketplace/fullView/' + item.itemId, style="color: inherit;text-decoration: none;cursor:pointer;")
                .panel.panel-default(style='background-color: ' + itemColor + ';height:320px;width:370px')
                  .panel-body
                    <b>Title: </b>#{item.title}
                    img(src='data:image/jpeg;base64,' + item.image[0], height=200, style='height:230px;width:337px;margin-top:5px')
                    p
                    p
                     | <b>Price: $</b>#{item.price}
                    p
                     a.btn.btn-success.btn-xs(href='/transactions/buy/' + item.itemId,data-transition='fade', data-theme='c',style="float:right;margin-top:-25px") Purchase