extends ..\layout

block content

  .page-header
    script(type='text/javascript').
     function hover(element) {
       element.style.outline = '3px solid yellow';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/eb00eb/fff');
     }

     function unhover(element) {
       element.style.outline = 'none';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/000/fff');
     }
     
     function updateImage(element) {
       //$("#mainProductImage").attr("src",element.src);
     }


     
    style.
        /* Translucent background image */
        .cropit-preview-background {
          opacity: .2;
          cursor: auto;
        }

        /*
         * If the slider or anything else is covered by the background image,
         * use relative or absolute position on it
         */
        input.cropit-image-zoom-input {
          position: relative;
          width: 500px;
          margin-top: 10px;
        }

        
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
          }
          .cropit-preview-image-container {
            cursor: move;
          }
          .image-size-label {
            margin-top: 10px;
          }
          input, .export {
            display: block;
          }
          button {
            margin-top: 10px;
          }

    h2#sellItem SELL YOUR ITEM
    hr
    .row
     form#theFormObject(method='post',enctype='application/json')
           ul.nav.nav-tabs
              li.active
                a(data-toggle='tab', href='#home') 
                  span.selltab Images
              li
                a(data-toggle='tab', href='#menu1') 
                  span.selltab Description & Price
              li
                a(data-toggle='tab', href='#menu2') 
                  span.selltab Review & Submit
           .tab-content
              #home.tab-pane.fade.in.active
                .container-fluid
                  .row
                    .panel-body 
                        .row
                         .col-sm-3#uploadedImages
                         
                         .col-sm-6#imagecontainer
                            #image-cropper(style='width:400px;cursor: pointer;')
                                .cropit-preview(style='width:500px;height:400px')
                                input.cropit-image-zoom-input(type='range')
                                .row#selectimagebuttons
                                  label.custom-file-upload
                                    input.cropit-image-input(type='file',accept="image/*" capture="camera")
                                    .span#selectimagetext UPLOAD IMAGE                                
                                  button.btn.btn-primary#addimage(type='button',onclick='addImage()') 
                                    .span#addimagetext CROP IMAGE
                                  span.rotate-cw.glyphicon.glyphicon-repeat(style="float:right")

              #menu1.tab-pane.fade 
                 .panel-body
                  .container-fluid
                    .row
                     .col-sm-7
                          .row#itemtitle
                          label(for='item_title') 
                            span.listingfont Item Title:
                              input.form-control(type='text', name='itemTitle',style='width:157%')
                          .row#itemdescription
                          label(for='item_desc') 
                            span.listingfont Description:
                              textarea#item_desc.form-control(name='description',rows='5',style="resize:none;width:170%")
                          
                          .row#itemprice
                          label(for='item_price') 
                            span.listingfont Price:
                              .input-group
                               span.input-group-addon $
                               span.input-group-addon 0.00
                               input.form-control(type='text', name='price', aria-label='Amount (to the nearest dollar)',style="resize:none;width:20%")

                          .row#itemcategory
                          label(for='item_price') 
                            span.listingfont Category:
                          br
                          button.btn.btn-default.dropdown-toggle(style='font-weight:bold;height:34px;margin-top:-5px', type='button', data-toggle='dropdown')
                            input.span#modalCategory(name='itemCategory', style='background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none;', value="Select Category") 
                            span.glyphicon.glyphicon-chevron-down

                          ul.dropdown-menu#drop1(style='margin-left:16px;width:215px')
                            li
                              a(href='#',style='font-weight:bold') All Categories
                            li
                              a(href='#',style='font-weight:bold') Books
                            li
                              a(href='#',style='font-weight:bold') Sublets
                            li
                              a(href='#',style='font-weight:bold') Technology & Gadgets
                            li
                              a(href='#',style='font-weight:bold') Men's Apparel
                            li
                              a(href='#',style='font-weight:bold') Women's Apparel
                            li
                              a(href='#',style='font-weight:bold') Furniture & Home
                            li
                              a(href='#',style='font-weight:bold') Tickets
                            li
                              a(href='#',style='font-weight:bold') Ride Share
              #menu2.tab-pane.fade
                br
                input.btn.btn-default(style='width:20%',type='submit',value='Create Listing',data-transition='fade', data-theme='c')

    script(type='text/javascript').
       $("#drop1 li").click(function(e){
        document.getElementById("modalCategory").value = $(this).text()
       });
       $imageCropper = $('#image-cropper').cropit({ smallImage: 'allow'});
       $('#image-cropper').cropit({ imageBackground: true });
        $('.rotate-cw').click(function() {
          $('#image-cropper').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('#image-cropper').cropit('rotateCCW');
        });
       var addImage= function (){
           var rand_id =Math.random().toString().substr(2);
           var img = $('<img />', { 
              id: 'image' + rand_id,
              src: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true}),
              onclick: 'updateImage(this)',
              onmouseover: 'hover(this)',
              onmouseout: 'unhover(this)',
              height: '200',
              width: '200',
              style: 'height:80px;width:100px;margin-right:5px;margin-bottom:5px;'
            });
            img.appendTo('#uploadedImages');
            var imageBase = $('<input/>',{
                id: 'imagebase' + rand_id,
                type: 'hidden',
                name: 'imagebase' + rand_id,
                value: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true})
            });
            imageBase.appendTo('#theFormObject');
            
            $('input.cropit-image-input').val('');
            $('.cropit-preview-background').removeAttr('src');
            $('.cropit-preview-image').removeAttr('src');
       };