extends ..\layout

block content
    style.
     .img-wrap {
     position: relative;
     display: inline-block;
     font-size: 0;
     }
     .img-wrap .close {
     color: red
     opacity: .2;
     }
     .img-wrap:hover .close {
     opacity: 1;
     color: yellow
     }
     .navigationButton {
      color:blue;
      background:white;
      font-size:100px;
     }
     .navigationButton:hover  {
      color:green;
      background:white;
      font-size:100px;
     }
    script(type='text/javascript').
     function hover(element) {
       element.style.outline = '3px solid yellow';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/eb00eb/fff');
     }

     function unhover(element) {
       element.style.outline = 'none';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/000/fff');
     }
     
     function updateImage(element) {
       //$("#mainProductImage").attr("src",element.src);
     }


     
    style.
        /* Translucent background image */
        .cropit-preview-background {
          opacity: .2;
          cursor: auto;
        }

        /*
         * If the slider or anything else is covered by the background image,
         * use relative or absolute position on it
         */
        input.cropit-image-zoom-input {
          position: relative;
          width: 500px;
          margin-top: 10px;
        }

        
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
          }
          .cropit-preview-image-container {
            cursor: move;
          }
          .image-size-label {
            margin-top: 10px;
          }
          input, .export {
            display: block;
          }
          button {
            margin-top: 10px;
          }

    h2#sellItem SELL YOUR ITEM
    hr
    .row
     form#theFormObject(method='post',enctype='application/json')
           ul.nav.nav-tabs(style='visibility:hidden;')
                a(data-toggle='tab', href='#home') 
                a(data-toggle='tab', href='#menu1') 
                a(data-toggle='tab', href='#menu2') 
           .tab-content
              #home.tab-pane.fade.in.active
                .container-fluid
                  .row
                    .panel-body 
                        .row
                         .col-sm-3#uploadedImages
                         
                         .col-sm-6#imagecontainer
                            #image-cropper(style='width:400px;cursor: pointer;')
                                .cropit-preview(style='width:500px;height:400px')
                                input.cropit-image-zoom-input(type='range')
                                .row#selectimagebuttons
                                  label.custom-file-upload
                                    input.cropit-image-input(type='file',accept="image/*" capture="camera")
                                    .span#selectimagetext SELECT FILE                                
                                  button.btn.btn-primary#addimage(type='button',onclick='addImage()') 
                                    .span#addimagetext ADD IMAGE
                                  span.rotate-cw.glyphicon.glyphicon-repeat(style="float:right")
                         .col-sm-2
                             a.navigationButton#pg1RightButton(href="#")
                                span.glyphicon.glyphicon-arrow-right(style='margin-top:380px;margin-left:80px')

              #menu1.tab-pane.fade 
                 .panel-body
                  .container-fluid
                    .row
                     .col-sm-1
                             a.navigationButton#pg2LeftButton(href="#")
                                span.glyphicon.glyphicon-arrow-left(style='margin-top:380px;margin-left:80px')
                     .col-sm-4
                          .row#itemtitle
                          label(for='item_title') 
                            span.listingfont Item Title:
                              input.form-control(type='text', name='itemTitle',style='width:157%')
                          .row#itemdescription
                          label(for='item_desc') 
                            span.listingfont Description:
                              textarea#item_desc.form-control(name='description',rows='5',style="resize:none;width:170%")
                          
                          .row#itemprice
                          label(for='item_price') 
                            span.listingfont Price:
                              .input-group
                               span.input-group-addon $
                               span.input-group-addon 0.00
                               input.form-control(type='text', name='price', aria-label='Amount (to the nearest dollar)',style="resize:none;")
                     .col-sm-3
                          .row#itemcategory
                          label(for='item_price') 
                            span.listingfont Category:
                          br
                          button.btn.btn-default.dropdown-toggle(style='font-weight:bold;height:34px;margin-top:-5px', type='button', data-toggle='dropdown')
                            input.span#modalCategory(name='itemCategory', style='background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none;', value="Select Category") 
                            span.glyphicon.glyphicon-chevron-down

                          ul.dropdown-menu#drop1(style='margin-left:16px;width:212px')
                            li
                              a(href='#',style='font-weight:bold') All Categories
                            li
                              a(href='#',style='font-weight:bold') Books
                            li
                              a(href='#',style='font-weight:bold') Sublets
                            li
                              a(href='#',style='font-weight:bold') Technology & Gadgets
                            li
                              a(href='#',style='font-weight:bold') Men's Apparel
                            li
                              a(href='#',style='font-weight:bold') Women's Apparel
                            li
                              a(href='#',style='font-weight:bold') Furniture & Home
                            li
                              a(href='#',style='font-weight:bold') Tickets
                            li
                              a(href='#',style='font-weight:bold') Ride Share
                     .col-sm-1
                             a.navigationButton#pg2RightButton(href="#")
                                span.glyphicon.glyphicon-arrow-right(style='margin-top:380px;margin-left:80px')
              #menu2.tab-pane.fade
                .row
                 .col-sm-2
                    a.navigationButton#pg3LeftButton(href="#")
                        span.glyphicon.glyphicon-arrow-left(style='margin-top:380px;margin-left:80px')
                 .col-sm-8
                    input.btn.btn-default(style='width:200px',type='submit',value='Create Listing',data-transition='fade', data-theme='c')

    script(type='text/javascript').
       $("#drop1 li").click(function(e){
        document.getElementById("modalCategory").value = $(this).text()
       });
       $imageCropper = $('#image-cropper').cropit({ smallImage: 'allow'});
       $('#image-cropper').cropit({ imageBackground: true });
        $('.rotate-cw').click(function() {
          $('#image-cropper').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('#image-cropper').cropit('rotateCCW');
        });
       var addImage= function (){
           var rand_id =Math.random().toString().substr(2);
           var img_wrap = $('<div />', {
              class: "img-wrap",
              id: 'image_wrap' + rand_id,
              style: 'float:left'
           });
           var close = $('<span />', {
              class: 'glyphicon glyphicon-remove close',
              style: 'color: red;margin-left:0px;margin-right:5px',
              id: 'close' + rand_id,
           });
           var img = $('<img />', { 
              id: 'image' + rand_id,
              src: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true}),
              onclick: 'updateImage(this)',
              onmouseover: 'hover(this)',
              onmouseout: 'unhover(this)',
              height: '200',
              width: '200',
              style: 'height:80px;width:100px;margin-right:5px;margin-bottom:5px;float:left'
            });
            img_wrap.append(close);
            img_wrap.append(img);
            img_wrap.appendTo('#uploadedImages');
            var imageBase = $('<input/>',{
                id: 'imagebase' + rand_id,
                type: 'hidden',
                name: 'imagebase' + rand_id,
                value: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true})
            });
            imageBase.appendTo('#theFormObject');
            
            $('input.cropit-image-input').val('');
            $('.cropit-preview-background').removeAttr('src');
            $('.cropit-preview-image').removeAttr('src');
            close.on('click', function() {
                var the_id = this.id;
                console.log(the_id);
                the_id = the_id.substring(5);
                $("#imagebase" + the_id).remove();
                $("#image" + the_id).remove();
                $(this).remove();
            });
       };
       
        //Verify if we have at least 1 image uploaded
        function verifyImages(event){
            if ($("[id^=imagebase]").length == 0){
                alert("Please upload an image.");
            }
            else{
                $('.nav-tabs a:eq(' + event.data + ')').tab('show'); 
                //$('.nav-tabs first-child a').tab('show'); 
            }
        }
        
        $("#pg1RightButton").on('click', 1, verifyImages);
        $("#pg2LeftButton").on('click', 0, verifyImages);
        $("#pg2RightButton").on('click', 2, verifyImages);
        $("#pg3LeftButton").on('click', 1, verifyImages);