extends ../layout

block content
    style.
     .formButtons {
      -webkit-border-radius: 4px !important; 
      -moz-border-radius: 4px !important; 
      border-radius: 4px !important;
     }

     .noselect {
       -webkit-touch-callout: none; /* iOS Safari */
       -webkit-user-select: none;   /* Chrome/Safari/Opera */
       -khtml-user-select: none;    /* Konqueror */
       -moz-user-select: none;      /* Firefox */
       -ms-user-select: none;       /* Internet Explorer/Edge */
       user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
      }
      
     .noselect {
       outline: none;
       box-shadow: none;
      }

     .img-wrap {
     position: relative;
     display: inline-block;
     font-size: 0;
     }
     .img-wrap .close {
     color: red
     opacity: .2;
     }
     .img-wrap:hover .close {
     opacity: 1;
     color: yellow
     }
     .navigationButton {
      color:black;
      background:white;
     }
     .navigationButton:hover  {
      color:#df7c5c;
      background:white;
     }
    script(type='text/javascript').
     function hover(element) {
       element.style.outline = '3px solid yellow';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/eb00eb/fff');
     }

     function unhover(element) {
       element.style.outline = 'none';
       //element.setAttribute('src', 'http://dummyimage.com/100x100/000/fff');
     }
     
     function updateImage(element) {
       //$("#mainProductImage").attr("src",element.src);
     }


     
    style.
        /* Translucent background image */
        .cropit-preview-background {
          opacity: .2;
          cursor: auto;
        }

        /*
         * If the slider or anything else is covered by the background image,
         * use relative or absolute position on it
         */
        input.cropit-image-zoom-input {
          position: relative;
          width: 500px;
          margin-top: 10px;
        }

        
        .cropit-preview {
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 7px;
          }
          .cropit-preview-image-container {
            cursor: move;
          }
          .image-size-label {
            margin-top: 10px;
          }
          input, .export {
            display: block;
          }
          button {
            margin-top: 10px;
          }

    h2#sellItem SELL YOUR ITEM
    hr
    .row
     form#theFormObject(method='post',enctype='application/json')
           ul.nav.nav-tabs(style='visibility:hidden;')
                a(data-toggle='tab', href='#home') 
                a(data-toggle='tab', href='#menu1') 
                a(data-toggle='tab', href='#menu2') 
           .tab-content
              #home.tab-pane.fade.in.active
                .container-fluid
                  .row
                    .panel-body 
                      .row
                       .col-xs-3.col-md-3#uploadedImages
                       
                       .col-xs-6.col-md-6#imagecontainer
                          #image-cropper(style='width:400px;cursor: pointer;')
                              .cropit-preview(style='width:500px;height:400px')
                              input.cropit-image-zoom-input(type='range')
                              .row#selectimagebuttons
                                label.custom-file-upload
                                  input.cropit-image-input(type='file',accept="image/*" capture="camera")
                                  .span#selectimagetext SELECT FILE                                
                                button.btn.btn-primary#addimage(type='button',onclick='addImage()') 
                                  .span#addimagetext ADD IMAGE
                                span.rotate-cw.glyphicon.glyphicon-repeat(style="float:right")
                      .row
                        .col-xs-11.col-md-11
                        .col-xs-1.col-md-1
                          a.navigationButton#pg1RightButton(href="#", style='font-size:30px')
                            span.glyphicon.glyphicon-chevron-right


              #menu1.tab-pane.fade 
                 .panel-body
                  .container-fluid
                    .row
                     .col-xs-1.col-md-2
                     .col-xs-4.col-md-4
                          .row#itemtitle
                          label(for='item_title') 
                            span.listingfont Title:
                              input.formButtons.form-control(type='text', name='itemTitle',style="width:500px",placeholder='Flatscreen TV')
                          .row#itemdescription
                          label(for='item_desc') 
                            span.listingfont Description:
                              textarea#item_desc.formButtons.form-control(name='description',rows='5',style="resize:none;width:500px",placeholder='A Samsung flatscreen Television. With a refresh rate of 120CMR, an LED Backlight, & built in Wi-Fi. Dimensions of 44.4" x 25.8" x 2.5". 8/10 Condition because of slight scratches on the screen.')
                          
                          .row#itemprice
                          label(for='item_price') 
                            span.listingfont Price:
                              .input-group
                               input.formButtons.form-control(type='text', name='price',aria-label='Amount (to the nearest dollar)',style="width:500px;height:40px;font-size:16px",placeholder='10.00')

                          .row#itemcategory
                          label(for='item_price') 
                            span.listingfont Category:
                          br
                          button.btn.btn-default.formButtons.dropdown-toggle(style='font-weight:bold;height:34px;margin-top:-5px', type='button', data-toggle='dropdown')
                            input.span.noselect#modalCategory(name='itemCategory', style='background:transparent;border-color: inherit; -webkit-box-shadow: none; box-shadow: none;border:none;', value="Select Category") 
                            span.glyphicon.glyphicon-chevron-down(style='margin-top:5px')
                          ul.dropdown-menu.formButtons#drop1(style='margin-left:16px;width:500px')
                            li
                              a(href='#',style='font-weight:bold') All Categories
                            li
                              a(href='#',style='font-weight:bold') Books
                            li
                              a(href='#',style='font-weight:bold') Sublets
                            li
                              a(href='#',style='font-weight:bold') Technology & Gadgets
                            li
                              a(href='#',style='font-weight:bold') Men's Apparel
                            li
                              a(href='#',style='font-weight:bold') Women's Apparel
                            li
                              a(href='#',style='font-weight:bold') Furniture & Home
                            li
                              a(href='#',style='font-weight:bold') Tickets
                            li
                              a(href='#',style='font-weight:bold') Ride Share
                            li
                              a(href='#',style='font-weight:bold') Others
                          
                          input.btn.btn-primary#submitlisting(style='border-radius:5px;font-size:30px;font-weight:bold',type='submit',value='Create Listing',data-transition='fade', data-theme='c')
                    .row
                     .col-xs-1.col-md-1
                     .col-xs-4.col-md-4
                    .row(style='margin-top: 200px;')
                      .col-xs-1.col-md-1
                        a.navigationButton#pg2LeftButton(href="#", style='font-size:30px')
                          span.glyphicon.glyphicon-chevron-left
                      .col-xs-10.col-md-10
                      .col-xs-1.col-md-1
                        a.navigationButton#pg2RightButton(href="#", style='font-size:30px;visibility:hidden')
                          span.glyphicon.glyphicon-chevron-right

              #menu2.tab-pane.fade
                .row
                 .col-xs-2.col-md-2
                 .col-xs-8.col-md-8
                 .col-xs-2.col-md-2
                .row(style='margin-top: 200px;')
                  .col-xs-1.col-md-1
                    a.navigationButton#pg3LeftButton(href="#", style='font-size:30px')
                      span.glyphicon.glyphicon-chevron-left

    script(type='text/javascript').
       $("#drop1 li").click(function(e){
        document.getElementById("modalCategory").value = $(this).text()
       });
       $imageCropper = $('#image-cropper').cropit({ smallImage: 'allow'});
       $('#image-cropper').cropit({ imageBackground: true });
        $('.rotate-cw').click(function() {
          $('#image-cropper').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('#image-cropper').cropit('rotateCCW');
        });
       var addImage= function (){
           var rand_id =Math.random().toString().substr(2);
           var img_wrap = $('<div />', {
              class: "img-wrap",
              id: 'image_wrap' + rand_id,
              style: 'float:left'
           });
           var close = $('<span />', {
              class: 'glyphicon glyphicon-remove close',
              style: 'color: red;margin-left:0px;margin-right:5px',
              id: 'close' + rand_id,
           }); 
           var img = $('<img />', { 
              id: 'image' + rand_id,
              src: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true}),
              onclick: 'updateImage(this)',
              onmouseover: 'hover(this)',
              onmouseout: 'unhover(this)',
              height: '200',
              width: '200',
              style: 'height:80px;width:100px;margin-right:5px;margin-bottom:5px;float:left'
            });
            img_wrap.append(close);
            img_wrap.append(img);
            img_wrap.appendTo('#uploadedImages');
            var imageBase = $('<input/>',{
                id: 'imagebase' + rand_id,
                type: 'hidden',
                name: 'imagebase' + rand_id,
                value: $imageCropper.cropit('export', {type: 'image/jpeg',quality: .9,originalSize: true})
            });
            imageBase.appendTo('#theFormObject');
            
            $('input.cropit-image-input').val('');
            $('.cropit-preview-background').removeAttr('src');
            $('.cropit-preview-image').removeAttr('src');
            close.on('click', function() {
                var the_id = this.id;
                console.log(the_id);
                the_id = the_id.substring(5);
                $("#imagebase" + the_id).remove();
                $("#image" + the_id).remove();
                $(this).remove();
            });
       };
       
        //Verify if we have at least 1 image uploaded
        function verifyImages(event){
            if ($("[id^=imagebase]").length == 0){
                alert("Please upload an image.");
            }
            else{
                $('.nav-tabs a:eq(' + event.data + ')').tab('show'); 
                //$('.nav-tabs first-child a').tab('show'); 
            }
        }
        
        $("#pg1RightButton").on('click', 1, verifyImages);
        $("#pg2LeftButton").on('click', 0, verifyImages);
        $("#pg2RightButton").on('click', 2, verifyImages);
        $("#pg3LeftButton").on('click', 1, verifyImages);